body { margin:0 !important; padding:0 !important; /* >:) */}
iframe { border:0px !important; /* >:) */}
#mu-stm a:link, #mu-stm a:visited {
  text-decoration:none;
  color:#fff;
}
#mu-stm {
  display:absolute;
  width:100%;
  top:0;
  font-style:helvetica, arial, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-align:left;
  height:20px;
  z-index:9999999;
  margin:0;
  color:#fff;
  padding:.5em .5em .5em 2em;
  text-shadow: -1px 0 1px #006;
  display:none;
  background-color: #363535;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363535', endColorstr='#242021');
  background-color: -webkit-gradient(linear, left top, left bottom, from(#363535), to(#242021));
  background-color: -moz-linear-gradient(top,  #363535,  #242021);
  -webkit-transition:background-color 0.25s linear;
}
#mu-stm.mu-conn-closed a:link, #mu-stm.mu-conn-closed a:visited {
  color:#E80756;
}
#mu-stm.mu-conn-closed {
  color:#E80756;
  text-shadow: -1px 0 1px #242021;
  background-color:#fbfbfb;
}
#mu-stm:hover {
  color:#fff;
  background:#E80756;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E80756', endColorstr='#242021');
  background-color: -webkit-gradient(linear, left top, left bottom, from(#E80756), to(#242021));
  background-color: -moz-linear-gradient(top,  #E80756,  #242021);
  -webkit-transition:background-color 0.25s linear;
}
#mu-stm:hover a:link, #mu-stm:hover a:visited {
  color:#fff;
}
#mu-stm div.item {
  display:inline;
  float:left;
  font-size:16px;
  padding-right: 2em;
  display:none;
}